<%= link_to "Add document", new_document_path %>


<%= form_tag(search_static_pages_path, method: :get) do %>
	<label for="file">Keyword : </label> <%= text_field_tag "keyword" %>
  	<%= submit_tag "search" %>
<% end %>

Result
<div id="output"></div>
