<%= link_to "Back", root_path %>
<table>
	<thead>
		<td>No</td>
		<td>Title</td>
		<td>Type</td>
		<td>Attachment</td>
	</thead>
	<tbody>
		<% @result.results.each.with_index(1) do |doc, index| %>
			<tr>
				<td><%= index %></td>
				<td><%= doc.title %></td>
				<td><%= doc.document_type %></td>
				<td><%= doc.document_attachment %></td>
			</tr>
		<% end %>
	</tbody>
</table>
