<%= form_for @document do |f| %>
	  <div class="form-group">
	      <%= f.label :title %>
	      <%= f.text_field :title, class: 'form-control' %>
	  </div>
	  <div class="form-group">
	      <%= f.label :document_attachment %>
	      <%= f.file_field :document_attachment, class: 'form-control' %>
	  </div>
	  <%= f.submit %>
<% end %>

<%= link_to "Back to home", root_path %>


</br></br>All Documents

<table>
	<thead>
		<td>No</td>
		<td>Title</td>
		<td>Type</td>
		<td>Attachment</td>
	</thead>
	<tbody>
		<% Document.all.each.with_index(1) do |doc, index| %>
			<tr>
				<td><%= index %></td>
				<td><%= doc.title %></td>
				<td><%= doc.document_type %></td>
				<td><%= doc.document_attachment %></td>
			</tr>
		<% end %>
	</tbody>
</table>
